* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    user-select: none;
    scroll-behavior: smooth;
}

$grey__color: #62656A;
$black__color: #000000; 
$uzum__color:rgb(112, 0, 255);
$text__color:#000000b3;

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 0rem 8%;
    background: #fff;
    z-index: 2;
}

main {
    padding: 1rem 8%;
}

footer {
    padding: 0 8%;
}

/* jump to top  */

.topbtn {
    position: fixed;
    right: 2%;
    bottom: 10%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: $uzum__color;
    color: #fff;
    i{
        font-size: 1.5rem;
    }
}